<section class="footer">
  <div>
    <div id="footer-contact">
      <h3>(773) 440-2020</h3>
      <hr />
      customer.service@aheavenlyclean.com
    </div>
    <hr />
    <div id="footer-nav">
      <%= link_to "Home", root_path, class: "footer-link" %>
      <%= link_to "About", about_path, class: "footer-link" %>
      <%= link_to "Services", services_list_path, class: "footer-link" %>
      <%= link_to "Quote", quote_path, class: "footer-link" %>

    </div>
    <hr />
    <div id="footer-social">
      <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
      <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
    </div>
  </div>

</section>