<section class="about">
  <div>
    <h4>About Us</h4>
    <p>Founded in 2008, 3 members of the Autopilot family Caleb, Aaron, and Maegan, came together with their shared an interest in cleaning using economically friendly products and eye for perfection.
      Together, the team turned their passion for living in a clean home into something families across the Mid-West Chicago can share.
      We are professional and dependable, paying total attention to detail. We are fully customizable so that we can meet the individual needs of our diverse customers.
      We use eco-friendly products which are good for you, good for us and great for the environment.</p>

    <div id="about_us_picture">
      <%= image_tag asset_path("about_us_pic") %>
      <br/>
      <small>At Service Autopilot In-House training.</small>
    </div>

    <h4>Mission Statement</h4>
    <p>At the Heavenly Clean Team,
      we have a cleaning philosophy that is best expressed in our simple commitment to making our customers happy and
      serving their needs with respect, intelligence, and efficiency. </p>
    <p>Our team of professionals design our services around our client’s preferences.
      We make sure our staff does their due diligence to ensure the homeowners we serve are 100% satisfied with the results of our work.
      Our cleaning team pairs allows us to maintain maximum efficiency and thoroughness, and our 10+ years of experience have given us a reputation within the Chicago community that is truly invaluable.   </p>
  </div>

</section>