<section class="container">
  <div class="row">
    <div class="col-md-6" id="logo">
      <h1>The Heavenly Clean Team</h1>
      <p>Because Cleanliness is close to Godliness</p>
    </div>
    <div class="col-md-6">
      <ul></ul>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <%= render 'shared/carousel' %>
      </div>
    </div>
</section>