<!--<section class="services-list">-->
<!--  <div id="debug list">-->

<!--    <ul>-->
<!--      <li>Bedroom Cleaning, Rate: 30/room/hr <input type="checkbox" name="beds_check" id="beds_check" class="checkbox" /></li>-->
<!--      <li>Bath Cleaning, Rate: 30/room/hr <input type="checkbox" name="baths_check" id="baths_check" class="checkbox" /></li>-->
<!--      <li>Closet Cleaning, Rate: 15/room/hr <input type="checkbox" name="closets_check" id="closets_check" class="checkbox" /></li>-->
<!--    </ul>-->
<!--    Total: <span id="total">0</span>-->
<!--  </div>-->
<!--</section>-->

<section class="services-list">

  <%= render 'quote_form' %>

</section>

<script type="text/javascript">

  // $('input[type="checkbox"]').each(function() {
  //     var service = $(this).attr('name').split("_");
  //     var service_name = service[0].toLowerCase();
  //     var service_rate = parseInt(service[1]);
  //     console.log(service_name, service_rate);
  //     services[service_name] = service_rate;
  // });

</script>