<section class="services-list">
  <div id="debug list">
    <p>Beds: <input type="text" name="beds" id="beds_field"/></p>
    <p>Baths: <input type="text" name="baths" id="baths_field"/></p>
    <p>Closets: <input type="text" name="closets" id="closets_field"/></p>
    <ul>
      <li>Bedroom Cleaning, Rate: 30/room/hr <input type="checkbox" name="beds_check" id="beds_check" /></li>
      <li>Bath Cleaning, Rate: 30/room/hr <input type="checkbox" name="baths_check" id="baths_check" /></li>
      <li>Closet Cleaning, Rate: 15/room/hr <input type="checkbox" name="closets_check" id="closets_check" /></li>
    </ul>
  </div>
</section>