<div class="services-list">
  <div id="services_page">
    <h3>Partial House Cleaning Services (All Rooms)</h3>

    <h4>All Rooms</h4>
    <ul>
      <li>Dust all furniture & shelves</li>
      <li>Clean mirrors</li>
      <li>Spot clean doors, door frames & fronts of cabinets for fingerprints & spills</li>
      <li>Dry dust all accessible parts of electronics</li>
      <li>Cobwebs removed</li>
      <li>Move small furniture & vacuum all floor areas</li>
      <li>Furniture & upholstery vacuuming</li>
      <li>Stairs & empty closet floors vacuumed</li>
      <li>Floors washed & disinfected</li>
      <li>Wood floors cleaned & damp wiped</li>
      <li>Consolidate trash & discard</li>
      <li>Dust baseboards, chair-rails, blinds, shutters, window sills, ledges, ceiling fans, light fixtures, air vents, hanging ornaments, lamp shades & heavy knick knack areas</li>
    </ul>
    <h4>Bathrooms</h4>
    <ul>
      <li>Bathtubs & showers cleaned & disinfected</li>
      <li>Shower doors cleaned inside & out</li>
      <li>Vanity, sink & toilets cleaned & disinfected</li>
      <li>Mirrors & chrome fixtures cleaned & shined</li>
      <li>Mildew treated</li>
    </ul>
    <h4>Kitchen</h4>
    <ul>
      <li>Clean all counter space & tables</li>
      <li>Scour sink & polish chrome</li>
      <li>Clean top & front of refrigerator</li>
      <li>Clean top & front of range</li>
      <li>Clean microwave inside & out</li>
      <li>Clean tops & fronts of other appliances</li>
    </ul>
    <h3>Package Cleaning Services</h3>
    <h4>Deep Clean (Recurring Monthly)</h4>
    <ul>
      <li>Services Kitchen, Living Room, and Dining Room + however many Bathrooms/Bedrooms/Closets in the house</li>
    </ul>
    <h4>Move In/Out Clean (One Time)</h4>
    <ul>
      <li>The same as the Deep Clean Package + Junk/Furniture Removal</li>
    </ul>
    <h3>Other Individual Services</h3>
    <ul>
      <li>Power Washing (Exterior Only)</li>
      <li>Mosquito Control (Exterior Only)</li>
      <li>Junk/Furniture Removal</li>
    </ul>
  </div>





</div>