
@import "material";
@import "gritter";
@import "quote.scss";
//@import "https://fonts.googleapis.com/icon?family=Material+Icons";
//@import "https://fonts.googleapis.com/css?family=Caveat+Bush";

$primary: #d699ff;
$secondary: #5200B9;
$tertiary: #AB00B5;
$white: #fff;

.thct-btn-dark, .thct-btn-light {
  display: inline-block;
}

.thct-btn-dark {
  background: $secondary;
  color: $white;
}

.thct-btn-light {
  background: $primary;
  color: $secondary;
}

.carousel-caption {
  background-color: rgba(37,18,118, 0.7);
}

.carousel-inner {
  img{
    height: 400px;
    width: 500px;

  }
}

.sponsors {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #ffccff;

  img {
    display: inline-block;
    height: 70px;
    width: auto;
  }
}

.services {
  height: 500px;

  .card {
    display: inline-block;
    margin: 10px;
    height: 400px;
    width: 300px;

    .card-content {
      padding: 5px;
      text-align: center;
    }

    img {
      height: 200px;
      width: 100%;
    }
  }
}

.services-list {
  height: 1000px;
}

.services, .services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $tertiary;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  color: $white;
  background: $secondary;

  #footer-nav {
    a {
      display: inline-block;
      padding: 5px 10px 5px 10px;
    }
  }

  #footer-social {
    i {
      padding: 5px 10px 5px 10px;
    }
  }

}

.footer * {
  text-align: center;
}



.debug-outline {
  border: 1px dashed red;
}


#navbarSupportedContent{
  div {
    margin: 0 auto;
  }
}

#logo {
  height: 50px;
  width: auto;
}

#companyname {
  font-family: 'Caveat Bush', cursive;
}

@media (max-width: 1200px) {
  .carousel-inner img {
    height: auto;
    width: auto;
  }

  .services {
    height: 600px;
    .card {
      height: 500px;
      img {
        height: 200px;
        width: 100%;
      }
    }
  }
}
@media (max-width: 768px) {
  .carousel-caption h4 {
    display: none;
  }

  .sponsors {
    display: block;
    height: 350px;

    img {
      display: block;
      margin: 0 auto;
      padding-top: 10px;
    }
  }

  .services {
    display: block;

    .card {
      display: block;
      height: 160px;
      width: auto;
      margin: 0 auto;

      img {
        display: none;
      }
    }
  }

}

@media (max-width: 480px) {
  #companyname, .carousel-caption {
    display: none;
  }





}
