
@import "material";
@import "gritter";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

$primary: #d699ff;
$secondary: #5200B9;

.thct-btn-dark, .thct-btn-light {
  display: inline-block;
}

.thct-btn-dark {
  background: $secondary;
  color: #fff;
}

.thct-btn-light {
  background: $primary;
  color: $secondary;
}


.debug-outline {
  border: 1px dashed red;
}


#navbarSupportedContent{
  div {
    margin: 0 auto;
  }
}

#logo {
  height: 50px;
  width: auto;
}
