#MainDivDomID {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 85%;
  background: #fff;

  form * {
    text-align: center;
  }

}

#total-container {
  position: fixed;
  top: 75%;
  right: 0;
  background: #ffccff;
  height: 100px;
  width: 200px;
  border-radius: 15%;

  #total {
    font-size: 32px;
  }
}

